---
name: Docker Build and publish

on:
  push:
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE_NAME: zaap59/simpledns

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKER_IMAGE_NAME }}
            ghcr.io/${{ env.DOCKER_IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,event=pr

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: zaap59
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          labels: ${{ steps.meta.outputs.labels }}
          load: true
          push: false
          tags: ${{ steps.meta.outputs.tags }}
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false

      - name: Run Trivy vulnerability scanner
        if: github.event_name == 'pull_request'
        uses: aquasecurity/trivy-action@0.29.0
        with:
          exit-code: '1'
          format: 'table'
          ignore-unfixed: true
          image-ref: ${{ env.DOCKER_IMAGE_NAME }}:${{ steps.meta.outputs.version }}
          severity: 'CRITICAL,HIGH'
          vuln-type: 'os,library'

      - name: Push Docker Hub and ghcr.io
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false